.alumni{
    margin-bottom: 50px;
    margin-top: 1000px;
    background: purple;
    border: solid red;
    border-radius:2%;
    margin-inside: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0,0.3);
}
#content {
    margin-left: 20px;
    display: flex;

}
#alumni img {
    margin-top: 50px;

    border-radius: 50%;

}
