.container{
    background: darkviolet;
    padding: 5px;
    /*margin: 20px;*/

}
.blocks{
    background: beige;
    display: flex;
    padding: 10px;
    align-items: center;
    flex-direction:column-reverse;
    margin-top: 10px;
    margin-bottom: 10px;

}
.blocks img{
    border-right: 20px;
    display: flex;
    float-displace: auto;
    margin: 20px;
    width: 10rem;
    height: 10rem;
}
.academy{
    cursor:pointer;
    display:flex;
    justify-content: flex-end;

}

.alumni{
    margin-bottom: 100px;
    /*margin-top: 1000px;*/
    background: purple;
    border: solid blueviolet;
    border-radius: 2%;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 50px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    font-family: Arial, sans-serif;
    font-size: 0.7rem;
}
.alumni img{
    margin-top: 25px;
    width: 5rem;
    height: 5rem;
    background: beige;
    display: flex;
    padding: 2px;
    border-radius: 50%;
    flex-direction: column;
    box-shadow: 5px 5px 20px rgba(0, 0, 50, 0.3);
}
.sub-alum img{
    width: 2rem;
    height: 2rem;
    background: ghostwhite;
    border-radius: 20%;
}
.sub-alum{
    padding: 10px;
}
.alum{
    background: beige;
    padding: 30px;
    border: black;
    border-radius:50%;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 2px;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap-reverse;
    cursor:pointer;


}
.context-menu{
    cursor: context-menu;

}

.abbr{

}

