#nav{
    margin-bottom: 50px;
    margin-top: 1000px;
    background: purple;
    border: solid red;
    border-radius:2%;
    margin-inside: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}
#output > p:hover{
    text-decoration:underline;
    cursor:pointer;
    display: flex;

}
#nav img {
    margin-top: 50px;
    padding: 1px;
    border-radius: 50%;
}
#Alumni {

}