

    #Kesha {position:relative;  z-index:1;}
    #RT {display:flex; align-content: flex-end;
    margin: 50px;}

h1 {color:rebeccapurple; display:flex; justify-content: flex-end; font-size: 20px;}

    h3 {
        color:rebeccapurple; 
    padding: 15px;
    border-radius: 50px;}

    .pics img { border-radius: 50px; display: flex; justify-content: flex-end; width:110px; height: 110px;}

    #People { display: flex; justify-content: flex-end;}
    #Tasks { display: flex; justify-content: flex-end;}
    #Tasks { background-image: url ()}
    #Movies {display: flex; justify-content: flex-end;}
    #To-Do {display: flex; justify-content: flex-end;}
    #Stuff { display: flex; justify-content: flex-end;}
    .hidden {display:none;}
    .hidden {display: block;}
    #Tests { display: flex; justify-content: flex-end;}
